.signup {
    margin: 0 auto;
    background: var(--background_color);
}

.signup_company {
    width: 40%;
    margin: 10px 0;
    position: absolute;
    border-radius: 5px;
    background: white;
    font-size: 14px;
    color: var(--background_color);
    padding: 3px;
    right: 10px;
}

.signup_company:hover {
    background: black;
    color: white;
}

.signup > h2 {
    margin: 50px 0 20px 0;
    color: white;
    font-size: 30px;
}

label {
    font-size: 1.2rem;
}

.signup_info {
    padding-top: 20px;
    background: white;
    border-top-left-radius: 13%;
    padding: 40px 20px 30px 30px;
    text-align: left;
}

.signup_button {
    padding: 10px;
    width: 90%;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    color: white;
    background: var(--background_color);
    margin:20px auto;
}

.signup_button:hover {
    background: white;
    color: black;
}

.links {
    color: blue;
}

.signup_input {
    margin-top: 5px;
    border-bottom: 1px solid grey;
}

@media (min-width: 768px) {
    .signup_info {
        width: 60%;
        border-radius: 10px;
        margin: 0 auto;
    }

    .signup_company {
        width: 20%;
    }

    .signup_input {
        margin-bottom: 10px;
    }

    .alt_signup {
        margin-top: 30px;
        text-align: center;
    }
}