.signup {
    margin: 0 auto;
    background: var(--background_color);
    height: 100vh;
    overflow: hidden;
}

.signup_company {
    width: 40%;
    margin: 10px 0;
    position: absolute;
    border-radius: 5px;
    background: white;
    font-size: 14px;
    color: var(--background_color);
    padding: 3px;
    right: 10px;
}

.signup_company:hover {
    background: black;
    color: white;
}

.signup_info {
    margin-top: 50px;
    padding-top: 20px;
}

.signup_info > h2 {
    margin-bottom: 20px;
    color: white;
    font-size: 30px;
}

label {
    font-size: 1.2rem;
}

.signup_form {
    background: white;
    border-top-left-radius: 13%;
    padding: 40px 20px 0 30px;
    height: 80vh;
    margin: 0 auto;
    text-align: left;
}

.signup_button {
    padding: 10px;
    width: 90%;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    color: white;
    background: var(--background_color);
    border: 2px solid rgb(151, 151, 151);
    margin:20px 0;
}

.signup_button:hover {
    background: white;
    color: black;
}

.links {
    color: blue;
}

.signup_input {
    margin-top: 10px;
    border-bottom: 1px solid grey;
}

@media (min-width: 600px) {
    .signup_info {
        width: 100%;
        margin: 142px;
    }
    .signup_form {
        width: 70%;
        border-radius: 20px;
        height: 500px;
    }

    .signup_input {
        margin-bottom: 40px;
    }

    .alt_signup {
        margin-top: 30px;
        text-align: center;
    }
}

@media (min-width: 720px) {
    .signup_company {
        width: 20%;
    }
    .signup_info {
        width: 80%;
        margin: 80px auto;
    }
    .signup_form {
        width: 50%;
        border-radius: 20px;
        height: 500px;
    }
}