
.navbar {
    display: flex;
    position: fixed;
    bottom: 5px;
    background-color: #e7e6e6;
    width: 100%;
    text-align: center;
}

.feedNav {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid grey;
    padding: 10px;
}

.searchIconContainer {
    cursor: pointer;
    margin-left: 20px;
}

.searchHome {
    width: 100%;
    /* position: absolute; */
    top: 0;
    right: 0;
}

.searchIcon {
    font-size: 30px !important;
}

.goto_home, .goto_search, .goto_profile {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    border: 1px solid grey;
}

.home_link, .search_link, .profile_link {
    color: black;
}

.goto_home:hover, 
.goto_search:hover, 
.goto_profile:hover {
    background: rgb(175, 175, 175);
    transition: 0.4s ease;
}

@media (min-width: 768px) {
    .searchIcon {
        display: none !important;
    }
}