.job_form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 60%;
    text-align: center;
}

input {
    height: 30px;
    margin: 10px;
}

button {
    width: 30%;
    margin: 0 auto;
    background: rgb(2, 162, 255);
    height: 30px;
}