.stats {
    margin: 20px;
    text-align: center;
}

.statsIcon {
    font-size: 30px !important;
    color: #808080a3;
}

.statsNumber {
    color: rgb(0, 195, 255);
    font-size: 2rem;
    font-weight: 700;
}

.statsText {
    font-size: 1.6rem;
    color: #000000a5;
}