.home {
    width: 100%;
}

.nav {
    width: 100%;
    /* background: rgb(247, 67, 61); */
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    text-align: center;
    /* color: white; */
}

.labelJob {
    font-size: 14px;
}

.goBackIcon {
    font-size: 30px !important;
    color: black;
    display: none;
}

.searchIcons, .goBackIcon {
    justify-self: center !important;
    color: black;
}

.searchIcons {
    font-size: 20px !important;
    margin: 0 5px;
}

input {
    margin: 0 auto;
    font-size: 1rem;
    border: none;
    background-color: #e9e9e9;
    margin-bottom: 10px;
    height: 40px;
    border-radius: 5px;
    width: 90%;
    padding: 5px;
}

.searchBtn {
    height: 50px !important;
    width: 80%;
    padding: 10px;
    /* border-radius: 10px; */
    font-size: 1rem;
    background-color: #008000c2;
    font-size: 50px !important;
    color: white;
    cursor: pointer;
    border: none;
}

.ul li {
    display: flex;
    flex-direction: column;
}

.companyName {
    margin-top: 30px;
}

span {
    display: block;
    font-size: 20px;
    margin-top: 10px;
    padding-bottom: 5px;
    font-weight: 700;
}

@media (min-width: 768px) {
    .goBackIcon {
        display: none;
    }

    .searchInputsContainer {
        display: flex;
    }
}